@import '../../styles/fonts.scss';
@import '../../styles/breakpoints.scss';

.header-text {
   font-size: $font-size-l;

   @include from-desktop {
      font-size: $font-size-4xl;
   }
}

.highlight {
   font-weight: bold;
}

.header-text--normal {
   font-weight: normal;
}

.header-text--lighter {
   font-weight: lighter;
}
