@import '../../styles/colors.scss';

.button {
   font-size: 1rem;
   font-weight: bold;
   border: 1px solid white;
   color: $colors-gray-100;
   padding: 0.9em 3.5em;
   border-radius: 4px;
   background: transparent;
   position: relative;
   z-index: 1;
   overflow: hidden;
   transition: 0.3s;

   &::before {
      z-index: -1;
      content: '';
      display: block;
      position: absolute;
      width: 300%;
      height: 100%;
      background: linear-gradient(
         to right,
         $colors-gold-100 0,
         $colors-gold-200 calc(100% / 3),
         transparent calc(100% / 3 * 2) 100%
      );
      top: 0;
      right: 0%;
      border-radius: 4px;
      transition: 0.3s;
   }

   &:hover {
      color: white;
   }

   &:hover::before {
      right: -200%;
   }

   &:focus {
      @include focus-box-shadow;
   }
}
