@import '../../styles/colors.scss';
@import '../../styles/flex.scss';
@import '../../styles/fonts.scss';

.button {
   @include flex(row, 0.75rem, space-between);

   font-size: $font-size-base;
   font-weight: bold;
   color: $colors-gray-100;
   padding: 0.9em 3.5em;
   border-radius: 4px;
   background: transparent;
   position: relative;
   z-index: 1;
   overflow: hidden;
   transition: 0.3s;

   &::before {
      z-index: -1;
      content: '';
      display: block;
      position: absolute;
      width: 300%;
      height: 100%;
      background: linear-gradient(
         to right,
         $colors-gold-100 0,
         $colors-gold-200 calc(100% / 3),
         transparent calc(100% / 3 * 2) 100%
      );
      top: 0;
      right: 0%;
      border-radius: 4px;
      transition: 0.3s;
   }

   &:hover {
      color: white;
   }

   &:hover::before {
      right: -200%;
   }

   &:focus {
      @include focus-box-shadow;
   }
}

.button--normal {
   border: 1px solid white;
   padding: 0.9em 3.5em;
}

.button--large {
   border: 1px solid $colors-gray-400;
   padding: 0.9em 6em;
}

.button--small {
   border: 1px solid white;
   padding: 0.5em 1em;
}
