@import '../../styles/flex.scss';
@import '../../styles/breakpoints.scss';
@import '../../styles/fonts.scss';

.heading-with-divider {
   @include flex(column, 0.5em, normal, center);

   font-size: $font-size-3xl;
   margin: 1.5rem auto;

   @include from-desktop {
      font-size: $font-size-5xl;
      margin: 4rem auto;
   }
}

.heading-with-divider__text {
   font-size: 1em;
   font-weight: normal;
}

.heading-with-divider__divider {
   width: 80%;
   height: 1px;
   background: white;
}
