@import '../../../styles/flex.scss';
@import '../../../styles/colors.scss';

.list-item {
   @include flex-row;
   justify-content: space-between;
   align-items: stretch;
   background: $colors-gray-500;
   padding: 1rem;
   border-radius: 4px;
   gap: 1rem;
}

.list-item__content {
   @include flex-row;
   flex-grow: 1;
}

.list-item__textarea {
   flex-grow: 1;
}

.list-item__buttons-wrapper {
   @include flex-column;
   align-items: start;
   gap: 0.5rem;
}
