@import '../../../styles/flex.scss';
@import '../../../styles/colors.scss';

.list-item {
   @include flex(row, 1rem, space-between, stretch);

   background: $colors-gray-500;
   padding: 1rem;
   border-radius: 4px;
}

.list-item__content {
   @include flex(row);

   flex-grow: 1;
}

.list-item__textarea {
   flex-grow: 1;
}

.list-item__buttons-wrapper {
   @include flex(column, 0.5rem, normal, start);
}
