@import '../../styles/colors.scss';
@import '../../styles/flex.scss';
@import '../../styles/breakpoints.scss';

.radio-button {
   @include flex(row, 0, normal, center);
}

.radio-button__input {
   height: 1.8em;
   width: 1.8em;
   font-size: 1em;
   appearance: none;
   -webkit-appearance: none;
   border: 0.25em solid white;
   border-radius: 50%;
   transition: 0.2s;

   &:checked {
      box-shadow: inset 0 0 0 0.25em $colors-gray-300;
      background-color: white;
      border-width: 0.25em;
   }
}

.radio-button__label {
   @include flex(row, 1em, normal, center);

   font-size: 1.1rem;
   font-weight: lighter;
   transition: 0.2s;

   &:has(.radio-button__input:hover) {
      font-weight: normal;
   }

   &:has(.radio-button__input:checked) {
      font-weight: bold;
   }

   @include from-desktop {
      font-size: 1.4rem;
   }
}
