@import '../../styles/colors.scss';
@import '../../styles/flex.scss';
@import '../../styles/breakpoints.scss';
@import '../../styles/fonts.scss';

$radio-size: 1.8em;
$radio-border-size: 0.25em;

.radio-button {
   @include flex(row, 0, normal, center);
}

.radio-button__input {
   height: $radio-size;
   width: $radio-size;
   font-size: 1em;
   appearance: none;
   -webkit-appearance: none;
   border: $radio-border-size solid white;
   border-radius: 50%;
   transition: 0.2s;

   &:checked {
      box-shadow: inset 0 0 0 $radio-border-size $colors-gray-300;
      background-color: white;
      border-width: $radio-border-size;
   }
}

.radio-button__label {
   @include flex(row, 1em, normal, center);

   font-size: 1.125rem;
   font-weight: lighter;
   transition: 0.2s;

   &:has(.radio-button__input:hover) {
      font-weight: normal;
   }

   &:has(.radio-button__input:checked) {
      font-weight: bold;
   }

   @include from-desktop {
      font-size: $font-size-xl;
   }
}
