@import "./styles/fonts.scss";
@import "./styles/colors.scss";
@import "./styles/flex.scss";

body {
  font-family: $default-font-family, sans-serif;
  background: $colors-gray-300;
  margin: 0;
  color: white;
}

#root {
  @include flex-column;
}
