@import '../../styles/flex.scss';
@import '../../styles/colors.scss';
@import '../../styles/breakpoints.scss';

.footer {
   @include flex(row, 0, space-between, center);

   padding: 1.125rem 1.25rem;
   background: $colors-gray-500;

   @include from-desktop {
      padding: 1.75rem 4rem;
   }
}

.footer__first-section {
   @include flex(row, 0, start);

   flex-basis: calc(100% / 3);
}

.footer__second-section {
   @include flex(row, 0, center);

   flex-basis: calc(100% / 3);
}

.footer__third-section {
   @include flex(row, 0, end);

   flex-basis: calc(100% / 3);
}
