@import '../../styles/fonts.scss';
@import '../../styles/breakpoints.scss';

.header__text {
   font-size: 1.25rem;

   @include from-desktop {
      font-size: 2.25rem;
   }
}

.highlight {
   font-weight: bold;
}

.header__text--normal {
   font-weight: normal;
}

.header__text--lighter {
   font-weight: lighter;
}
