@import '../../styles/fonts.scss';
@import '../../styles/breakpoints.scss';

.navbar__header {
   font-size: 1.25rem;
   font-weight: normal;

   @include from-desktop {
      font-size: 2.25rem;
   }
}

.highlight {
   font-weight: bold;
}
