@import '../../../styles/flex.scss';

.add-item {
   @include flex-row;
   gap: 1rem;
}

.add-item__textarea {
   flex-grow: 1;
}

.add-item__button-wrapper {
   @include flex-row;
   align-items: start;
}
