@import '../../styles/colors.scss';
@import '../../styles/flex.scss';

.modal {
   margin: auto;
   background: $colors-gray-400;
   border: 2px $colors-gray-100 solid;
   border-radius: 8px;
   padding: 1rem 2rem;

   &::backdrop {
      background: black;
      opacity: 0.5;
   }
}

.modal__content {
   @include flex-column;
   align-items: center;
   gap: 1rem;
   color: white;
}
