@import '../../styles/colors.scss';
@import '../../styles/flex.scss';

.modal {
   margin: auto;
   background: $colors-gray-400;
   border: 2px $colors-gray-100 solid;
   border-radius: 8px;
   padding: 1rem 2rem 0;
   width: 100%;

   &::backdrop {
      background: black;
      opacity: 0.5;
   }
}

.modal__content {
   @include flex(column, 0, normal, center);

   color: white;
}

.modal__footer {
   @include flex(row, 0, center);

   width: 100%;
   position: sticky;
   bottom: 0;
   background: $colors-gray-400;
   padding: 1rem 0;
   z-index: 2;
}
