@import '../../../styles/colors.scss';
@import '../../../styles/flex.scss';

.menu__content-item {
   @include flex(row, 0.5em, normal, center);

   font-size: 1rem;
   font-weight: 600;
   transition: 0.3s;
   cursor: pointer;

   &:hover {
      color: $colors-gold-200;
   }
}
