@import '../../styles/flex.scss';
@import '../../styles/breakpoints.scss';

.main-content {
   @include flex(column, 3.5rem);

   padding: 2rem;
   flex: 1;

   @include from-desktop {
      @include flex(row, 0);

      padding: 2rem 4rem;
   }
}

.main-content__sections-wrapper {
   @include flex(row, 0, space-between);
   flex-basis: calc(100% / 3 * 2);
   flex-shrink: 0;
}
